/* orderlist.css */
.container {
    padding-left: 15px; /* Add padding to the left */
    padding-right: 15px; /* Add padding to the right */
  }
  
  .row {
    margin-left: auto; /* Compensate for negative margin applied by container */
    margin-right: auto; /* Compensate for negative margin applied by container */
    padding-left: 0;
    margin-top: 2%;
   
    }

  .row1 {
    margin-top: 5%;
    padding-left: 0;
    width: 100px;
    height: 200px;
  }

  .lower-portion {
    padding-bottom: 100px; /* Add padding to the bottom */
  }
  
  .card {
    border: 1px solid #ccc; /* Add a border to the card */
    border-radius: 6px; /* Add border radius for rounded corners */
    margin-bottom: 20px;
    margin-top: 20px; /* Add margin at the bottom of each card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow for depth */
    max-width: 80%; /* Set maximum width for the card */
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
  }
  
  .card-title {
    font-size: 1rem; /* Font size for card title */
    margin-bottom: 10px; /* Add margin at the bottom of the card title */
  }
  
  .card-text {
    font-size: 0.9rem; /* Font size for card text */
  }
  
  .card-body {
    padding: 15px;
    
  }
  
  .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add a stronger shadow on hover */
    transition: box-shadow 0.3s ease; /* Add smooth transition effect */
  }
  
 .container h1 {
    padding-top: 100px; /* Add padding to the top of the h1 element */
  }

  .btn-success {
    color: #fff;
    background-color: #074185;
    border-color: #074185;
    
    margin: 5px auto;
    margin-right: 110px;
}

.btn-search{
  color: #fff;
  background-color: #074185;
  border-color: #074185;
  margin: 5px;
}

.btn-secondary1{
  color: #fff;
  background-color: #0A57A2;
  margin: 5px;
}

.btn-secondary2{
  color: #fff;
  background-color: #0A57A2;
  margin: 5px;
}

.btn-secondary3{
  color: #fff;
  background-color: #0A57A2;
  margin: 5px;
}

.btn-search:hover,
.btn-success:hover{
  color: #000000; /* Text color turns blue */
  background-color: #fdfeff;
}

.btn-secondary1:hover,
.btn-secondary2:hover,
.btn-secondary3:hover {
  color: #000000; /* Text color turns blue */
  background-color: #56AAF0; /* Background color turns white */
}

  /* orderlist.css */
.col {
    margin-left: auto; /* Automatically adjust margin on the left side */
    margin-right: auto; /* Automatically adjust margin on the right side */
}

.col1 {
  margin-left: auto; /* Automatically adjust margin on the left side */
  margin-right: auto; /* Automatically adjust margin on the right side */
  width: 350px;
  height: 100%; 
}

.form-group1 label {
    display: block;
    font-weight:bolder;
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
  
}

.btn-secondary1.active,
.btn-secondary2.active,
.btn-secondary3.active {
    background-color: #56AAF0; /* Change to your preferred color */
    color: #000000; /* Ensure text is readable */
}